.stylingclass{
    width: 900px;
    height: 35px;
    border: 1px solid rgb(143, 138, 138);
    margin-top: 20px;
    padding-top: 30px;
    padding-left: 30px;
    background-color: rgb(206, 199, 199);
    font-weight: 800;
    font-size: 21px;
}
.divs{
    margin-left: 280px;
    align-items: center;
    margin-top: 50px;
}
ul {
    list-style: none;
  }